
.p1-heading {
  border-top: 1px solid #0000008d;
  border-bottom: 1px solid #0000008d;

}
.masthead h1 {
  font-family: 'OldEnglish', serif;
  font-weight: 400;
  font-size: 88px;
  line-height: 0.96;
  padding: 18px;
}

.hero-block {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 14px;
} 

.hero-names {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 100px;
  line-height: 0.95;
}

.headline-script {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: 'Symphony', cursive;
  line-height: 1;
}

.headline-script p {
  font-size: 56px;
  font-weight: 100;
}

.headline-script span {
  flex: 1;
  height: 1px;
  background: rgba(39, 33, 29, 0.55);
}

.hero-photo {
  /* height: 580px; */
}

.rounded-photo img {
  border-radius: 26px;
}

.bottom-gap {
  margin-top: 6px;
}

.save-date-block {
  display: flex;
  flex-direction: column;
 
}

.save-date-title,
.date-row {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}
.date-row {
display: flex;
justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.save-date-title {
  font-family: 'DM Serif Display', serif;
  font-size: 74px;
  line-height: 0.9;
  margin: 10px 0;
  text-align: center;
}

.save-date-title span {
  font-family: 'DM Serif Display', serif;
  font-size: 74px;
  line-height: 0.9;
  font-weight: 800;
  text-align: center;
}

.save-date-title strong {
  font-size: 48px !important;
  font-weight: 800;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.date-row {
  border-top: 4px solid #111;
  border-bottom: 4px solid #111;
    font-family: 'PT Serif', serif;
font-weight: 800;
  padding: 14px 40px;
  font-size: 32px;
  letter-spacing: 0.2em;
  text-align: center;
}

.heart-pair p {
  font-size: 28px;
  letter-spacing: 4px;
}

@media (max-width: 768px) {


  
  .masthead h1 {
    font-size:25px;
    padding: 15px;
  }

  .hero-names {
    font-size:33px;
  }
.masthead-meta span{
  margin-top: 4px;
  font-size: 8px;
}
  .headline-script {
    gap: 12px;
    font-size: 28px;
  }
 /* font-family: 'PT Serif', serif; */
  .headline-script p {
    font-size: 22px;
  }

  .hero-photo {
    height: auto;
  }
 .save-date-title{
  padding: 5px 0px;
 }
  .save-date-title,
  .save-date-title span {
    font-size: 30px;
  line-height: 0.2;

  }
  .save-date-title .the{
    font-size: 20px !important;
  
  }

  .save-date-title strong {
    font-size: 28px !important;
    text-underline-offset: 6px;
  }

  .date-row {
    display: flex;
justify-content: space-between;
   
    padding: 5px 0;
    font-size: 17px;
    letter-spacing: 0.12em;
      border-top: 2px solid #111;
  border-bottom: 2px solid #111;
  }

  .date-row p {
    word-spacing: 3px;
    font-size: 15px !important;
  }
}
